.footer-container {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  transition: 0.3s;
}

.footer-text {
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.footer-text p {
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.section-container a,
.page-privacity-policy a,
.footer-text a {
  margin-inline: 0.5rem;
  position: relative;
  transition: 0.3s;
  z-index: 1;
  padding-inline: 0.3rem;
  width: max-content;
}

.section-container a:hover,
.page-privacity-policy a:hover,
.footer-text a:hover {
  color: #554c4c;
}

.section-container a::after,
.page-privacity-policy a::after,
.footer-text a::after {
  content: '';
  width: 100%;
  height: 1px;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  transition: 0.3s;
}

.section-container a::after,
.page-privacity-policy a::after {
  background-color: var(--brown);
}

.section-container a:hover::after,
.page-privacity-policy a:hover::after,
.footer-text a:hover::after {
  background-color: var(--golden);
}

.section-container a::before,
.page-privacity-policy a::before,
.footer-text a::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--golden);
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.section-container a:hover::before,
.page-privacity-policy a:hover::before,
.footer-text a:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}

.footer-text span.separator-vertical {
  width: 2px;
  opacity: 0.2;
  margin-inline: 12px;
  background-color: var(--white);
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.social-media a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.social-media svg {
  width: 24px;
  height: 24px;
  color: var(--white);
}

.social-media a:hover svg,
.social-media a:hover {
  color: var(--golden);
  transform: scale(1.05);
}
