.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--brown);
  height: 100%;
  padding-left: 120px;
  border-end-start-radius: 30px;
  transition: 0.3s;
}

.nav-pages ul {
  display: flex;
  height: 100%;
  gap: 60px;
}

.nav-pages a {
  color: var(--white);
  font-size: 24px;
  padding: 10px 20px 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.nav-pages a.active,
.nav-pages a:hover {
  color: var(--brown);
  background-color: var(--white);
  transition: 0.3s;
}

.nav-pages a.active {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-pages li {
  position: relative;
}

.nav-pages .link-ornament {
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  height: 20px;
  background-color: var(--white);
  transition: 0.3s;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}

.nav-pages .link-ornament::after,
.nav-pages .link-ornament::before {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0px;
  background-color: var(--brown);
  z-index: 2;
  transition: 0.3s;
}

.nav-pages .link-ornament::after {
  left: 0;
  height: 20px;
  width: 20px;
  border-bottom-right-radius: 100%;
}
.nav-pages .link-ornament::before {
  right: 0;
  height: 20px;
  width: 20px;
  border-bottom-left-radius: 100%;
}

.nav-pages a.active ~ .link-ornament {
  width: calc(100% + 40px);
  opacity: 1;
  left: -20px;
}

.nav-pages a:first-child.active ~ .link-ornament.aside-expanded {
  width: calc(100% + 20px);
  left: 0px;
}

.nav-pages a:first-child.active ~ .link-ornament.aside-expanded::after {
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
}

.nav-pages-item {
  display: flex;
  align-items: center;
  align-self: end;
}

.logo-container {
  display: grid;
  place-content: center;
  padding: 5px 0 0 5px;
  border-end-end-radius: 50%;
  background-color: var(--brown);
  transition: 0.3s;
}

.logo-content {
  display: flex;
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  transition: 0.3s;
}

.btn-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: var(--white);
  cursor: pointer;
  transition: 0.3s;
  margin-right: 32px;
  margin-block: 15px;
}

.btn-theme:hover {
  background-color: var(--golden);
}

.btn-theme-mobile span{
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-theme-mobile svg,
.btn-theme svg {
  position: absolute;
  transition: 0.3s;
}


body.dark-mode .btn-theme-mobile .sun,
body.dark-mode .btn-theme .sun,
.btn-theme-mobile .moon,
.btn-theme .moon {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s;
  transform: scale(0.7);
  rotate: -90deg;
}

.btn-theme .sun,
.btn-theme-mobile .sun,
body.dark-mode .btn-theme-mobile .moon,
body.dark-mode .btn-theme .moon {
  opacity: 1;
  visibility: visible;
  transform: initial;
  rotate: initial;
}

/**--------------------------------------------------------------------------------------- 
  - MOBILE 
  -----------------------------------------------------------------------------------------**/



.header-mobile {
  width: 100%;
  height: 90px;
  background-color: var(--brown);
  display: none;
  justify-content: end;
}
.btn-menu-mobile {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 32px;
  margin-block: 15px;
  position: relative;
}

.btn-menu-mobile .bar-menu-mobile {
  width: 40px;
  height: 3px;
  background-color: var(--white);
  margin-block: 5px;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-menu-mobile:hover .bar-menu-mobile {
  background-color: var(--golden);
}

.btn-menu-mobile.active .bar-menu-mobile {
  position: absolute;
  transform: rotate(405deg);
}

.btn-menu-mobile.active .bar-menu-mobile:nth-child(2) {
  transform: rotate(-405deg);
}

.btn-menu-mobile.active .bar-menu-mobile:nth-child(3) {
  transform: rotate(405deg);
}


.nav-mobile {
  display: none;
  position: absolute;
  top: 85px;
  right: 0;
  width: 100vw;
  overflow: hidden;
  transform: translateX(-150%);
  transition: 0.4s;
  z-index: 99;
}

.nav-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--brown);
  overflow-y: auto;
  overflow-x: hidden;
  padding-inline: 20px;
  border-top: 2px solid var(--white); 
  border-bottom: 2px solid var(--white); 
  width: 100%;
}

.nav-mobile ul svg {
  width: 48px;
  height: 48px;
  stroke-width: 1px;
  transition: 0.3s;
  color: var(--white);
}

.nav-mobile .menu-mobile-item {
  width: 100%;
  display: flex;
  color: var(--white);
  font-size: 24px;
  transition: 0.3s;
  padding-block: 15px;
  border-bottom: 2px solid var(--white);
}

.nav-mobile .menu-mobile-item a {
  display: inherit;
  align-items: center;
  gap: 20px;
  width: 100%;
  transition: 0.3s;
  padding-block: 15px;
  padding-inline: 20px;
  border-radius: 5px;
}

.nav-mobile .menu-mobile-item a.active,
.nav-mobile .menu-mobile-item a:hover {
  background-color: var(--white);
  color: var(--brown);
}

.nav-mobile .menu-mobile-item a.active svg,
.nav-mobile .menu-mobile-item a:hover svg {
  color: var(--brown);
}

.btn-theme-mobile {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  padding-block: 15px;
  padding-inline: 20px;
  gap: 20px;
  color: var(--white);
  width: 100%;
  border-radius: 5px;
}

.btn-theme-mobile:hover {
  color: var(--white);
  background-color: var(--golden);
}

.btn-mobile-close {
  padding-block: 15px;
  padding-inline: 20px;
  margin-block: 30px;
}

/* --------------------------------------------------------------------------------------------------
- Media Queries
------------------------------------------------------------------------------------------------------*/

@media (max-width: 1200px) {
  .header-content {
    display: none;
  }

  .header-mobile {
    display: flex;
  }

  .nav-mobile {
    display: flex;
  }

  .logo-container {
    border-radius: 0;
    padding: 10px 0 5px 5px;
    background-color: var(--brown);
  }

  .btn-menu-mobile.active ~ .nav-mobile {
    transform: translateX(0);
  }
}
