:root {
  /*** Colors ***/

  --brown: #554c4c;
  --white: #fff9ea;
  --golden: #ebb143;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brown);
}


.main-container {
  min-height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 80px 1fr auto;
}

header .container {
  padding: 15px 36px 15px 5px;
  gap: 80px;
}

body {
  background-color: var(--white);
  color: var(--brown);
  transition: 0.3s;
  font-family: 'Nunito Sans', sans-serif;
}

body.dark-mode {
  --brown: #fff9ea;
  --white: #554c4c;
}

footer {
  align-self: end;
  grid-column: 1/-1;
  background-color: var(--brown);
  color: var(--white);
}

header {
  grid-column: 1/-1;
  color: var(--white);
}

ul strong {
  margin-right: 0.5rem;
}

svg {
  color: var(--brown);
}

.section-container {
  padding-block: 80px;
  padding-left: 120px;
  max-height: calc(100dvh - 80px - 105px);
  animation: fade-in 500ms linear forwards;
  overflow-y: auto;
  overflow-x: hidden;
}

.section-container p {
  max-width: 800px;
  font-size: 1.25rem;
}

.section-container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.section-container h2 {
  font-size: 2rem;
  margin-block: 1.5rem;
}

.section-container h3 {
  font-size: 1.6rem;
  margin-block: 1.5rem;
}

.section-container h4 {
  font-size: 1.25rem;
}

.section-container ul {
  margin-block: 1.5rem;
}

.section-container li {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.section-container li::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--golden);
  margin-right: 1rem;
}

.section-container label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.section-container .separator-horizontal {
  width: 80%;
  height: 2px;
  border-radius: 100%;
  background-color: var(--brown);
  transform: translateY(-1rem);
}

.section-container .separator-vertical {
  width: 2px;
  height: 90%;
  place-self: center;
  border-radius: 100%;
  background-color: var(--brown);
  opacity: 0.2;
  margin-inline: 2rem;
}

/*** -------------------------------------------------------------------------------------
  - Animations
------------------------------------------------------------------------------------ ***/

@keyframes fade-in {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}


/*** -------------------------------------------------------------------------------------
  - Media Queries
  ------------------------------------------------------------------------------------ ***/

@media (max-width: 1200px) {
  .section-container {
    padding-block: 2rem;
    padding-inline: 4rem;
  }

  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr auto;
  }
  
  
}